##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
[""]

['']

2. > Create a variable containing your name (Points : 5)

In [ ]:
name="Reni Rianti Prastiti"

print(name)

Reni Rianti Prastiti

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
items=['Pencil','Book','Chair','Desk','Backpack']

print(items)

['Pencil', 'Book', 'Chair', 'Desk', 'Backpack']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
artist_dict={
    "name":["Mark","Johnny"],
    "age":[23,27]
}

print(artist_dict)

{'name': ['Mark', 'Johnny'], 'age': [23, 27]}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
price=12000
quantity_sold=20
discount=0.1
total_customer_payment= (price*quantity_sold)-(price*quantity_sold*discount)

print(total_customer_payment)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries=["Indonesia","Ireland","Japan","Italy","Canada","Germany","France"]
print(countries)

['Indonesia', 'Ireland', 'Japan', 'Italy', 'Canada', 'Germany', 'France']

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

countries[0:4]

['Indonesia', 'Ireland', 'Japan', 'Italy']

In [ ]:
# Append new country to the list (Points : 5)

countries.append("Singapore")
print(countries)

['Indonesia', 'Ireland', 'Japan', 'Italy', 'Canada', 'Germany', 'France', 'Singapore']

In [ ]:
# Drop one country from the list (Points : 5)

countries.remove("Ireland")
print(countries)

['Indonesia', 'Japan', 'Italy', 'Canada', 'Germany', 'France', 'Singapore']

In [ ]:
# Get country in the last index (Points : 5)

countries[6]

'Singapore'

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)

customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)

customer["name"][0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

del customer['age']
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer.update({'gender':['Male','Female','Female','Male']})
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}